body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.central{
  color: red;
}

.central:hover{
  color: white;
}

#title{
  color: white;

}

#try{
  color: blue;
}

.row{
  text-align: center;
  background-color: black;
}
